@model UserModel

<br /><br />
<h2>My Account</h2>
<br />
<div class="row">
    <div class="col-4">
        <label>Name : </label>
        <label>@Model.user_name</label>
    </div>
    <div class="col-4">
        <label>Email : </label>
        <label>@Model.user_email</label>
    </div>
    <div class="col-4">
        <label>Phone : </label>
        <label>@Model.user_phone</label>
    </div>
    <div class="col-4">
        <label>Address : </label>
        <label>@Model.user_address</label>
    </div>
</div>
<br />